{
  "root": true,
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-html",
    "stylelint-config-prettier"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["deep", "slotted", "global"] }],
    "selector-pseudo-element-no-unknown": [true, { "ignorePseudoElements": ["v-deep"] }],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "forward",
          "apply",
          "use",
          "variants",
          "responsive",
          "screen",
          "function",
          "if",
          "each",
          "include",
          "mixin"
        ]
      }
    ],
    "custom-property-pattern": [
      "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
      {
        "message": "Expected custom property name to be kebab-case"
      }
    ],
    "no-empty-source": null,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-trailing-semicolon": ["always", { "ignore": ["single-declaration"] }],
    "declaration-block-semicolon-space-before": "never",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "declaration-bang-space-before": "always",
    "declaration-bang-space-after": "never",
    "block-opening-brace-space-before": "always",
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-closing-brace-empty-line-before": "never",
    "selector-list-comma-newline-after": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-combinator-space-before": "always",
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "never",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "no-extra-semicolons": true,
    "indentation": [
      2,
      {
        "baseIndentLevel": 0
      }
    ],
    "max-empty-lines": 1,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true
  },
  "overrides": [
    {
      "files": [
        "*.scss",
        "**/*.scss"
      ],
      "customSyntax": "postcss-scss"
    },
    {
      "files": [
        "*.vue",
        "**/*.vue"
      ],
      "rules": {
        "indentation": [
          2,
          {
            "baseIndentLevel": 1
          }
        ]
      }
    },
    {
      "files": [
        "*.html",
        "**/*.html"
      ],
      "rules": {
        "indentation": [
          2,
          {
            "baseIndentLevel": 3
          }
        ]
      }
    }
  ]
}